* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* UTILITY */
.bg_aqua {
  background: #afebe4;
}

.bg_azgrey {
  background: #f4f9fd;
}

.bg_blue {
  background: #32495b;
}

.bg_darkorange {
  background: #fe785a;
}

.bg_lightorange {
  background: #fff2ee
}

.f_left {
  float: left;
}

#site_header {
  height: 600px;
}

#site_content {
  height: 2000px;
}

#site_footer {
  height: 400px;
}

.pr_15 {
  padding-right: 15px;
}
/* /UTILITY */

.container {
  width: 80%;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
/* SEZIONE NAVBAR */
.navbar {
  height: 80px;
  color: #32495b;
}

.top {
  border-bottom: 1px solid #32495b;
}

.bottom {
  background: white;
}

.nav_top_left, .nav_top_right {
  height: 80px;
  width: 50%;
  line-height: 80px;
}

.nav_top_right {
  text-align: right;
}

.nav_top_left a, .nav_top_right a {
  text-decoration: none;
  padding: 10px 15px;
}

.nav_top_left a {
  color: #32495b;
}

.chevron {
  border-right: 2px solid #32495b;
}

.nav_top_right i {
  color: #00A4BD;
}

.btn_border {
  border: 1px solid #fe785a;
  border-radius: 10px;
  color: #fe785a;
}

.btn_orange {
  color: white;
  border-radius: 10px;
}

/* SEZIONE MAIN */
.row {
  height: 33.33%;
}

.gradient {
  background-image: linear-gradient(to right, #00a6bc, #00bda6);

}

.row_in::after {
  content: "";
  display: table;
  clear: both;
}

.row_in {
  height: 33.33%;
  border: 1px solid black;
}

.col_3 {
  width: 33.33%;
  height: 100%;
  border: 1px solid red;
}
