* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}
/* UTILITY */
.bg_aqua {
  background: #afebe4;
}

.bg_azgrey {
  background: #f4f9fd;
}

.bg_blue {
  background: #32495b;
}

.bg_darkorange {
  background: #fe785a;
}

.bg_lightorange {
  background: #fff2ee
}

.f_left {
  float: left;
}

#site_content {
  height: 2000px;
}

#site_footer {
  height: 400px;
}

.pr_15 {
  padding-right: 15px;
}

.center {
  text-align: center;
}
/* /UTILITY */

.container {
  width: 70%;
  margin: auto;
}

.container::after {
  content: "";
  display: table;
  clear: both;
}
/* SEZIONE NAVBAR */
.navbar {
  height: 80px;
  color: #32495b;
  line-height: 80px;
}

.top {
  border-bottom: 1px solid #32495b;
}

.bottom {
  background: white;
}

.nav_top_left, .nav_top_right, .menu, .logo {
  width: 50%;
}

.nav_top_right, .menu {
  text-align: right;
}

.navbar a {
  text-decoration: none;
  padding: 10px 15px;
}

.nav_top_left a, .menu a {
  color: #32495b;
}

.border_rigth {
  border-right: 2px solid #32495b;
}

.nav_top_right i {
  color: #00A4BD;
}

.nav_top_right a {
  margin: 0 15px;
}

.btn_border {
  border: 1px solid #fe785a;
  border-radius: 10px;
  color: #fe785a;
}

.btn_orange {
  color: white;
  border-radius: 10px;
}

.logo {
  margin-top: 10px;
}

/* SEZIONE BANNER */

#banner {
  position: relative;
  height: 695px;
  background-image: url('../img/jumbotron.png');
  background-repeat: no-repeat;
  background-position: right top;
}

.banner_text {
  width: 30%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: #32495b;
}

.banner_text h1 {
  font-size: 3em;
  font-weight: 700;
  margin-bottom: 50px;
}

.banner_text p {
  line-height: 2em;
  font-weight: 500;
  margin-bottom: 60px;
}

.btn_big {
  display: inline block;
  text-decoration: none;
  padding: 20px 40px;
  margin-bottom: 30px;
}

.p_sm{
  font-weight: 300;
  font-size: 0.8em;
  margin-top: 60px;
}

.row_empty {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 80px;
  border-top: 3px solid #32495b;
  border-bottom: 3px solid #32495b;
  box-sizing: content-box;
}
/* SEZIONE MAIN */
.row {
  height: 33.33%;
}

.gradient {
  background-image: linear-gradient(to right, #00a6bc, #00bda6);
}

.row_1 {
  padding: 50px;
  color: #32495b;
}

.row_1 h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.row_1 p {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  line-height: 1.5em;
  width: 65%;
}

.row_2 {
  height: 33.33%;
  border-top: 1px solid black;
}

.row_3 {
  height: 33.33%;
}

.row_3::after {
  content: "";
  display: table;
  clear: both;
}

.col_3 {
  width: 33.33%;
  height: 100%;
  border: 1px solid red;
}
