* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* UTILITY */
.bg_aqua {
  background: #afebe4;
}

.bg_azgrey {
  background: #f4f9fd;
}

.bg_blue {
  background: #32495b;
}

.bg_darkorange {
  background: #fe785a;
}

.bg_lightorange {
  background: #fff2ee
}
/* /UTILITY */

#site_header {
  height: 600px;
}

#site_content {
  height: 2000px;
}

#site_footer {
  height: 400px;
}

.row {
  height: 33.33%;
}

.gradient {
  background-image: linear-gradient(to right, #00a6bc, #00bda6);

}

.row_in::after {
  content: "";
  display: table;
  clear: both;
}

.row_in {
  height: 33.33%;
  border: 1px solid black;
}

.col_3 {
  float: left;
  width: 33.33%;
  height: 100%;
  border: 1px solid red;
}
